node_modules
apps/*/dist
apps/*/node_modules
apps/*/playwright-report
apps/*/test-results
packages/*/coverage
packages/*/dist
packages/*/node_modules
packages/*/src/generated
packages/*/*.tgz
pnpm-lock.yaml
*.tgz
